@import "tailwindcss";

:root {
  /* backgrounds */
  --bg-primary: #f8fafc;
  --bg-secondary: #ffffff;

  /* text */
  --text-primary: #0f172a;
  --text-secondary: #64748b;

  /* border */
  --border: #e2e8f0;

  /* actions */
  --brand: #1d4ed8;
  --danger: #ef4444;
  --success: #16a34a;
  --warning: #f59e0b;
}


html,
body {
  height: 100%;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial;
}

a {
  color: var(--brand);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}